
@inherits System.Web.Mvc.WebViewPage
<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="uk-text-center uk-vertical-align">
            <div class="uk-width-9-10 uk-container-center uk-panel uk-panel-box uk-vertical-align-middle">
                <div class="uk-width-1-1 uk-margin-bottom">
                    <img src="../../Content/images/logo_intec.png" class="uk-margin-top uk-margin-bottom" />
                </div>
                <div class="uk-width-1-1">
                    <p class="uk-text-large uk-text-center">Usted ha sido autenticado correctamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>